body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Press Start 2P', cursive;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: : center;
    align-items: center;
}

canvas {
    box-shadow: #000 20px 10px 50px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Press Start 2P', cursive;
}